/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 3 oct 2025, 10:14:58
    Author     : alvaro.gargon.4
*/

*{margin: 0; padding: 0;}
        body{
            align-items: center;
            background-color: beige;
        }
        p{
            padding: 10px
        }
        header{
            padding: 20px;
            background-color: #403F6F;
            color: beige;
            text-align: center;
        }
        footer{
            background-color: #403F6F;
            color: beige;
            text-align: center;
            position: relative;
            bottom: 0px;
            width: 100%;
            height: 15%;
        }
        .contenedor{
            margin-top: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .proyectos{
            margin: auto;
            color: beige;
            margin: 10px;
            padding: 10px;
            background-color: #403F6F;
            width: 50%;
            border-radius: 30px
        }
        a{
            color: red;
            text-decoration: none;
        }
        h2{
            text-align: center;
        }
        
        .formulario{
            position: relative;
            
        }
        .centrar{
            position: relative;
            left: 42%;
            width: 30%
        }
        .obligatorio{
            background-color: lightgoldenrodyellow;
        }
        .saltar{
            display: block;
            margin: 10px,10px;
            text-align: center;
            
        }
        
        .error{
            color: red;
        }
        
        .principal {
            width: 70%;
            border-collapse: collapse;
            text-align: left;
            margin-bottom: 30px;
        }

        .principal td {
            padding: 10px;
            border: 1px solid #3a3a3a;
            vertical-align: middle;
        }

        table img {
            width: 40px;
            height: 40px;
        }